body {
    background-color: rgb(32, 32, 32);
    color: #fff;
    padding: 0px;
    margin: 0px;
}
.bd {
    top: 0%;
    padding: 0%;
}
.sideBar {
    width: 20%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin: 0%;
    position: absolute;
    top: 0%;
    height: 100%;
}
.sideHead {
    color: #fff;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    padding-left: 20px;
    font-size: 50px;
}
.search {
    padding-left: 20px;
    font-family: Arial;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.dots {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.dots:hover {
    color: red;
}
.optsPop {
    background: black;
    border: 1px solid #fff;
    position: absolute;
    left: 20px;
    width: 250px;
    display: none;
    border-radius: 12px;
    font-size: 20px;
}
.sign {
    font-weight: bold;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 10px;
}
.ply {
    font-size: 30px;
}
.taskbar {
    background-color: rgb(68, 68, 68);
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0%;
    height: 60px;
}
.playBtn {
    font-size: 25px;
    border: rgb(68, 68, 68);
    color: #fff;
    background-color: rgb(0, 224, 120);
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}
.plybtn {
    color: #fff;
    text-decoration: underline rgb(68, 68, 68);
}
.plyImg{
    padding-left: 20px;
}
.popTxt{
    color: #fff;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mtHash{
    color: rgb(255, 255, 255);
    text-decoration: none;
}